/* Parrafos */
.introduccion{
    white-space: pre-line;
    line-height: 1rem;
} 


.parrafos{
    font-family: "Merriweather", serif;
    /* font-family: "Bebas Neue", sans-serif; */
    font-size: 20px;
    margin-left: 50px;
}

.nombres_ejemplos{
    display: block;
    @include texto(center,1.2rem);
    font-weight: bold;
    margin-top: 0.5rem;
}