/* tablets */
@media (min-width: 768px ) and (max-width: 1024px){
    .ubi{
        margin-top: -35.6rem;
    }
.atencion{
        margin: -9rem;
    }
.carrito{
        margin: 16.7rem;
    }

    .icono img{
        width: 5vh;
        height: 5vh;
    }
}
